.service_1_0_0{
    &__banner{
        background: url('../images/bg2.jpg') no-repeat center;
        background-size: 1920px;
        min-height: 330px;
        text-align: center;
        color: #fff;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    &__inner{
        display: flex;
        padding: 30px 0;
    }
    &__item{
        background: url('../images/bg1.jpg') no-repeat center;
        width: 50%;
        height: 450px;
        margin: 0 30px;
        padding: 0 30px;
        color: #fff;
        display: flex;
        align-items: center;
        border: 15px solid #fff;
        box-shadow: 0 3px 6px -4px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
        font-size: 21px;
        &--left{
            justify-content: end;
            text-align: end;
        }
    }
    &__bold{
        font-weight: 600;
        font-size: 50px;
        display: block;
        text-transform: uppercase;
    }
    &__more{
        background-color: transparent;
        border: 1px solid #66a1c6;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        padding: 5px;
        margin-top: 10px;
    }
    @media (max-width: 1024px){
        &__item{
            height: 360px;
            margin: 0 10px;
            font-size: 18px;
        }
        &__bold{
            font-size: 35px;
        }
    }
    @media (max-width: 768px){
        &__inner{
            flex-direction: column;
        }
        &__item{
            width: 100%;
            margin: 10px 0;
        }
    }
}