.contact_1_0_0{
    &__inner{
        display: flex;
        padding: 30px 0;
    }
    &__item{
        width: 50%;
    }
    &__head{
        font-size: 23px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 3px solid #66a1c6;
        width: fit-content;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    &__input{
        width: calc(90% - 20px);
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #fff;
        outline: none;
        display: inline-block;
        box-shadow: 1px 1px 5px 1px #ccc;
        &--1{
            height: 60px;
        }
    }
    &__submit{
        width: 90%;
        border: none;
        background-color: #66a1c6;
        color: #fff;
        padding: 10px 10px;
        margin-top: 5px;
        display: inline-block;
        cursor: pointer;
    }
}