.banner_1_0_0 {
  background: url("../images/bg2.jpg") no-repeat center;
  background-size: 1920px;
  min-height: 330px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  @media (max-width: 768px){
    min-height: 230px;
    font-size: 28px;
  }
}
.contact_1_0_0 {
  &__inner {
    display: flex;
    padding: 30px 0;
    margin: 0 -10px;
  }
  &__item {
    width: 50%;
    padding: 0 10px;
  }
  &__head {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 3px solid #66a1c6;
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  &__input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #fff;
    outline: none;
    display: inline-block;
    box-shadow: 1px 1px 5px 1px #ccc;
    &--1 {
      height: 60px;
    }
    &:active, &:focus{
        border: 1px solid #66a1c6;
    }
  }
  &__submit {
    width: 100%;
    border: none;
    background-color: #66a1c6;
    color: #fff;
    padding: 10px 10px;
    margin-top: 5px;
    display: inline-block;
    transition: all 0.15s linear;
    cursor: pointer;
    &:hover{
        background-color: #3f83ad;
    }
  }
  &__link {
    text-decoration: none;
    color: #000;
    transition: all 0.15s linear;
    &:hover {
      color: #66a1c6;
    }
  }
  &__map iframe {
    width: 100%;
    display: block;
  }
  @media (max-width: 768px){
    &__inner{
        flex-direction: column;
        margin: 0;
        padding: 10px 0;
    }
    &__item{
        padding: 10px 0;
        width: 100%;
    }
    &__map{
        height: 350px;
        iframe{
            height: 100%;
        }
    }
  }
}
