.ups_3_0_0{
    background-color: #66a1c680;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__img{
        width: 50%;
        position: relative;
        padding-bottom: calc(56.25% * 0.5);
        height: 0;
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    &__content{
        flex: 1;
        padding: 0 50px;
        &Box{
            width: fit-content;
            padding-right: 3vw;
            border-right: 5px dashed #66a1c6;
        }
    }
    &__title{
        font-weight: 600;
        font-size: 21px;
        text-transform: uppercase;
    }
    @media (max-width: 767px){
        &__content{
            max-width: 540px;
            width: 100%;
            margin: auto;
            padding: 0 15px;
        }
    }
    @media (max-width: 768px){
        &__inner{
            flex-direction: column-reverse;
        }
        &__contentBox{
            margin-bottom: 1rem;
        }
        &__img{
            width: 100%;
            padding-bottom: 56.25%;
        }
    }
    @media (max-width: 575px){
        &__content{
            max-width: 100%;
        }
    }
}